header{
  background: #fff;
  .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include tablet-mobile{
      justify-content: center;
      flex-wrap: wrap;
    }
  }
  .navigation-menu{
    .container{
      @include tablet-mobile{
        justify-content: space-between;
      }
    }
  }
  .contacts-menu{
    box-shadow: 0 5px 15px #ccc;
  }
  .social{
    .fa{
      font-size: 22px;
      margin-right: 10px;
      @include tablet-portrait{
        font-size: 16px;
      }
    }
  }
  .contacts{
    display: flex;
    align-items: center;
    height: 45px;
    @include tablet-portrait{
      height: 30px;
    }
    .fa{
      margin-left: 20px;
      font-size: 22px;
      margin-right: 5px;
      @include tablet-portrait{
        font-size: 16px;
      }
      @include tablet-mobile{
        font-size: 12px;
      }
    }
    p{
      @include text-regular;
      @include tablet-mobile{
        font-size: 12px;
      }
    }
    a{
      @include text-regular;
      @include tablet-mobile{
        font-size: 12px;
      }
    }
  }
  nav{
    @include tablet-mobile{
      display: none;
    }
    a{
      @include text-regular;
      text-transform: uppercase;
      margin-left: 30px;
      transition: 0.2s;
      &:hover{
        color: $color-blue;
      }
      @include tablet-portrait{
        font-size: 12px;
        margin-left: 10px;
      }
    }
  }
  .fa-bars{
    display: none;
    @include tablet-mobile{
      display: block;
      font-size: 32px;
      margin-right: 10px;
    }
  }
  img{
    margin: 10px 0;
    cursor: pointer;
    user-select: none;
    @include tablet-landscape{
      width: 200px;
    }
    @include tablet-portrait{
      width: 150px;
    }
  }
}